<div class="container-fluid px-0 border-top footer">

  <div class="row mx-0">
    <div class="col-12 d-flex w-100 justify-content-center mt-3">
      <hr class="w-75">
    </div>
  </div>

  <div class="row mx-0 d-flex justify-content-center">
    <div class="col-12 w-75 pb-3">

      <div class="row text-lg-start text-center">
        <div class="col-lg-8 col-12 ps-0">
          <a routerLink="contact-details" class="btn btn-link me-2 my-lg-0 mb-2">Contact Details</a>
          <a routerLink="privacy-policy" class="btn btn-link me-2 my-lg-0 mb-2">Privacy Policy</a>
        </div>
        <div class="col-lg-4 col-12 text-lg-end">
          <p>Developed by <a class="btn-link" href="https://en.spyrosalertas.gr">Spyros Alertas</a></p>
        </div>
      </div>

    </div>
  </div>

</div>