<div class="container-fluid">
    <div class="row">

        <div class="col-12 mb-3 text-center text-lg-start">
            <h3>Contact Details</h3>
        </div>

        <div class="col-1 text-end">
            <h3><fa-icon [icon]="faMapPin"></fa-icon></h3>
        </div>
        <div class="col-11 px-1">
            <h3>Find us at our office</h3>
        </div>

        <div class="col-1"></div>
        <div class="col-11 px-1">
            <p>Address details</p>
        </div>

        <div class="col-1 text-end"><fa-icon [icon]="faPhone"></fa-icon></div>
        <div class="col-11 px-1">
            <h3>Find us via phone</h3>
        </div>

        <div class="col-1"></div>
        <div class="col-11 px-1">
            <p>phone1 / phone2</p>
        </div>

    </div>
</div>