<div class="container-fluid min-vh-100 d-flex flex-column">

    <!-- Header - Navbar component-->
    <div class="row sticky-top">
        <div class="col-12 px-0">
            <app-navbar></app-navbar>
        </div>
    </div>

    <!-- Main content - Router outlet will load main body of the page -->
    <div class="row flex-grow-1">
        <div class="col-12 px-0">
            <app-home></app-home>
        </div>
    </div>

    <!-- Footer -->
    <div class="row sticky-lg-bottom">
        <div class="col-12">
            <p>Footer sticky only on large screens</p>
        </div>
    </div>

</div>