<div class="container-fluid section-a-box">

    <div class="row">
        <div class="col-12 text-center">
            <h3>Section A</h3>
        </div>
    </div>

    <div class="row justify-content-center text-center">
        <div *ngFor="let card of cards" class="col-lg-4 col-md-6 col-12 py-3 py-lg-4">
            <div class="p-3 rounded h-100 shadow btn btn-light">
                <h4>{{card.title}}</h4>
                <p>{{card.content}}</p>
            </div>
        </div>
    </div>

</div>