<div class="container-fluid brand-h pb-5 brand-box">
    <div class="h-100 d-flex flex-column align-items-center justify-content-center">

        <!-- Brand Name -->
        <div class="row w-50 text-center pb-3">
            <div class="col-12">
                <h1 class="shadow rounded py-3">
                    Brand Name
                </h1>
            </div>
        </div>

        <!-- Brand Title -->
        <div class="row mt-4 w-50 text-center">
            <div class="col-12">
                <h2 class="shadow rounded py-2">
                    Brand Title
                </h2>
            </div>
        </div>

    </div>
</div>