<!-- Brand component -->
<div id="home" class="">
  <app-brand></app-brand>
</div>

<!-- Main body content -->
<div class="container-fluid shadow-lg rounded-top w-90 mt-n4 main-body-box">
  <div class="container-fluid text-center py-4">
    <!-- Section A -->
    <div id="sectionA" class="">
      <app-section-a></app-section-a>
    </div>
    <!-- Section B -->
    <div id="sectionB" class="">
      <app-section-b></app-section-b>
    </div>
  </div>
</div>

<!-- Contact details component -->
<div id="contactDetails" class="">
  <app-contact-details></app-contact-details>
</div>