<div class="container-fluid px-0">

  <!-- Brand content -->
  <div id="home" class="row mx-0">
    <div class="col-12 px-0">
      <app-brand></app-brand>
    </div>
  </div>

  <!-- Main body content -->
  <div class="container-fluid shadow-lg rounded-top py-lg-5 py-4 w-90">
    <!-- Section A -->
    <div id="sectionA" class="row">
      <div class="col-12">
        <app-section-a></app-section-a>
      </div>
    </div>
    <!-- Section B -->
    <div id="sectionB" class="row">
      <div class="col-12">
        <p>Part 3 - Section B Placeholder</p>
      </div>
    </div>
  </div>

  <!-- Contact details content -->
  <div id="contactDetails" class="row mx-0">
    <div class="col-12">
      <p>Part 4 - Contact Details Placeholder</p>
    </div>
  </div>

</div>